<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
p, ul li {
    font-family: 'Times New Roman', Times, serif;
}
#content {
    max-width: 960px;
    margin: 4% auto;
    padding: 0.5em;
}
header {
background-color: lime;
height: 75px;
display: grid;
grid-template-columns: 50% 50%;
}
header h1 {
    grid-column: 1/2;
    font-size: 2.5em;
    position: relative;
    top: -0.3em;
    left: 2em;
    color: grey;
}
header img {
    grid-column: 2/3;
    position: relative;
    top: 1em;
    left: 18em;
    width: 10em;
    box-shadow: 3px 0px 2px 0px black;
}
main h2 {
    border-bottom: 2px solid black;
    width: 90%;
}
main ul {
    color: grey;
}
main {
    padding: 2em 0em 2em 0em;
}
footer {
    background-color: lime;
    text-align: center;
    height: 75px;
    font-size: 1.1em;
    color: grey;
}
footer div {
   display: flex;
   align-items: center; 
   justify-content: center;
}

#updated {
    color: maroon;
    position: relative;
    top: -30px;
}