h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
h1 {
    background-color: darkblue;
    font-size: 3em;
    text-align: center;
}
h2 {
    background-color: rgb(0, 174, 255);
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

body {
    max-width: 560px;
    margin: 4% auto;
    padding: 0.5em;
}
img {
    width: 400px;
}
#thirds, #proximity, #whitespace {
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 900px 2fr;
    max-width: 600px;
    background-color: lightgrey;
}
#thirds h2, #proximity h2, #whitespace h2 {
    grid-row: 1/2;
}
#thirds h3, #proximity h3, #whitespace h3 {
    grid-row: 2/3;
}
#thirds img, #proximity img, #whitespace img {
    grid-row: 3/4;
    justify-self: center;
}
#thirds p, #proximity p, #whitespace p {
    grid-row: 4/5;
    justify-self: center;
}
footer {
    background-color: lightgrey;
    text-align: center;
    height: 40px;
    border-radius: 25px;
}