
/*#content {
    max-width: 960px;
    text-align: center;
}
header h1 {
    color: blue;
}
nav ul {
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    padding: .5em 1em;
    background-color: red;
}
main h1 {
    clear: both;
    color: red;
}
main img {
    max-width: 100%;
}
#images {
    display: grid;
    grid-template: 300px / 20px 200px;
}
#images img:nth-of-type(1) {
    grid: 1/1/2/2;
}
#images img:nth-of-type(2) {
    grid: 1/2/2/3;
}
footer {
    text-align: center;
}*/