@media only screen and (min-width: 1120px) {



.hide {
    display: flex;
    justify-content: space-around;
}
    
nav button {
    display: none;
}

nav ul li {
    float: left;
}

nav ul {
    margin-left: 2%;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: .6rem 1rem;
}

#forecast {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#gallery {
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
}

#n9 {
    grid-area: 2/3/2/3;
}

form {
    display: grid;
    grid-template: 5fr 5fr 1fr/1fr 1fr 1fr 1fr;
    max-width: 900px;
}

form fieldset:nth-of-type(1) {
    grid-area: 1/1/2/3;
}
form fieldset:nth-of-type(2) {
    grid-area: 1/3/2/5;
}
form fieldset:nth-of-type(3) {
    grid-area: 2/2/3/4;
}
div.submit {
    grid-area: 3/2/4/4;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/*index/wireframes*/
.locations {
    grid-template: 1fr 1fr/1fr 1fr 1fr;
}

.locations div:nth-of-type(1) {
    grid-area: 1/1/2/2;
}

.locations div:nth-of-type(2) {
    grid-area: 2/1/3/2;
}

.locations div:nth-of-type(3) {
    grid-area: 1/2/2/3;
}

.locations div:nth-of-type(4) {
    grid-area: 2/2/3/3;
}

.locations div:nth-of-type(5) {
    grid-area: 1/3/2/4;
}

.locations div:nth-of-type(6) {
    grid-area: 2/3/3/4;
}

}