@media only screen and (min-width: 560px) {

.square {
    border-radius: 0px;
    display: block;
    width: 100%;
}

.square h3 {
    border: none;
    width: 94%;
    margin-left: 1%;
}

.square img {
    height: 50px;
    width: 50px;
    display: block;
    margin: 0px auto 0px auto;
}

.square p {
    text-align: center;
}

.hide2 {
    display: block;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

article {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    margin-top: 40px;
}

article h2 {
    grid-area: 1/1/2/2;
}

article p {
    grid-area: 2/1/3/2;
}

article img {
    grid-area: 1/2/3/3;
    padding-bottom: 30px;
}

.contact {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
}

.c1 {
    grid-area: 1/1/3/2;
}

.c2 {
    grid-area: 1/2/2/3;
}

.c3 {
    grid-area: 2/2/3/3;

}

.c4 {
    grid-area: 1/3/3/4;
}

#gallery {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 1fr;
    gap: 0px;
    justify-items: center;
}

#n9 {
    grid-area: 5/1/6/3;
}

#gallery figure {
    margin-bottom: 0px;
    height: 300px;
}

#gallery figure img {
    box-shadow: 2px 2px 2px 2px rgb(77, 77, 77);
}

#gallery figure img {
    max-width: 300px;
}

}