@media only screen and (min-width: 560px) {

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 0px;
    justify-items: center;
}


#gallery figure {
    margin-bottom: 0px;
    height: 300px;
}
#gallery figure img {
    max-width: 300px;
}

}